@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-Bold.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-BoldItalic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-MediumItalic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-Medium.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-Regular.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-RegularItalic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-Light.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "firaSC";
  src: url("/styles/fira/FiraSansSC-LightItalic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-Bold.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-BoldItalic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-MediumItalic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-Medium.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-Regular.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-RegularItalic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-Light.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "fira";
  src: url("/styles/fira/FiraSans-LightItalic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}
