/* line 18, ../../../../../app/old/engine/style/index.scss */
.doctor-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 12px;
  background-color: #eecc11;
  color: white;
}
/* line 25, ../../../../../app/old/engine/style/index.scss */
.doctor-btn:hover {
  text-decoration: none;
}

/* line 30, ../../../../../app/old/engine/style/index.scss */
.survey .footbr {
  height: 40px;
}

/* line 35, ../../../../../app/old/engine/style/index.scss */
.doctor-report {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}
