lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.iml
*./idea
pids
logs
results

npm-debug.log
node_modules

*.sublime-workspace
*.sqlite
#tmp is now included b/c we need the style sheets on windows
#tmp


*.sass-cache

tmp/tfb
bower_components
.idea/workspace.xml

