@import "../style/library";
@import "compass/utilities/general/clearfix";

.numpad {
  position: relative;
  input{
    position:relative;
    top: -16px;
    left: 6px;
  }
  .pad, input {
    float: left;
  }
  a {
    position: relative;
    border-radius: 50%;
    display:block;
    width: 56px;
    height: 56px;
    padding: 18px;
    border: 2px solid $blue;
    color: $blue;
    text-align: center;
    float:left;
    margin: 6px;
    text-decoration:none !important;
    &:hover{
      text-decoration: none;
      background-color: lighten($blue, 28%);
    }
    &:active{
      background-color: lighten($blue, 22%);
    }
  }
  .del{
    border-color: $red;
    color: $red;
    &:hover{
      text-decoration: none;
      background-color: lighten($red, 28%);
    }
    &:active{
      background-color: lighten($red, 22%);
    }
  }
  .delIcon{
    position:relative;
    top: -4px;
    left:-7px;
  }
  .blank{
    visibility: hidden;
  }
  .num {
    position: relative;
    top: -5px;
    left: -1px;
  }
  .line{
    @include clearfix;
  }
}
