@import "../style/library";

body, input, textarea, select {
  font-size: 14px;
}
a {
  cursor: pointer;
}
label {
  font-family: firasc;
  display: block;
  clear: left;
  font-size: 12px;
  font-weight:600;
  padding: 0 0 4px 0;
  -webkit-user-select: none;
}

input[type=text], input[type=password], input[type=number], input[type=date], textarea {
  margin-bottom: 16px;
  border: 1px solid gray;
  background-color: rgba(white, 0.5);
  padding: 16px;
  padding-left: 12px;
  font-size: 14px;
}

input[type=date] {
  padding-top: 8px;
  padding-bottom: 8px;
}

button {
  margin-bottom: 16px !important;
}

input[type=radio], input[type=check] {
  display: inline-block;
}

input:focus, textarea:focus {
  background-color: white;
}

input[type=submit] {
  width: 130px;
  height: 45px;
  display: block;
  clear: left;
}

.btn {
  background-color: $blue !important;
  color: white !important;
  margin-top: 5px;
}

.btn-primary.active, .btn:active {
  background-color: #3276b1;
}

.btn-primary:hover:not(.active) {
  background-color: rgba(white, 0.8);
  color: black;
  border-right-color: rgba(black, 0.25);
  border-bottom-color: rgba(black, 0.25);
  &:not(:first-child) {
    border-left-color: rgba(black, 0.25);
  }
}

.btn {
  border-top: none;
  padding: 12px;
  border-radius: 0;
  color: black;
  background-color: rgba(white, 0.5);
  border-color: rgba(25, 33, 39, 0.15);
}

.btn:first-child {
  border-left: 4px solid black;
}

.error {
  color: $red;
  font-family: firasc;
  font-weight:600;
}
