extends /page/page

block title
    title Timeline - CSM

block headers
    script(src='./jquery-ui-1.10.4.custom.js' type='text/javascript')
    script(src='/roster/login.js' type='text/javascript')
    script(src='/db/client.js' type='text/javascript')
    script(src='/app/router.js' type='text/javascript')
    script(src='/survey/client.js' type='text/javascript')
    script(src='/survey/participantModel.js' type='text/javascript')
    script(src='./model.js' type='text/javascript')
    script(src='./tfb.js' type='text/javascript')
    link(href='../styles/sections/tfb.css', rel='stylesheet')

    script(src='/survey-schema/surveys/branching.js' type='text/javascript')
    script(src='/survey-schema/surveys/surveyFunctions.js' type='text/javascript')
    link(href='../styles/widgets/dialogs.css', rel='stylesheet')
    script(src='/survey-schema/doctorReport.js' type='text/javascript')
    link(href='/survey-schema/doctorReport.css', rel='stylesheet')

block contents
    .overlay(ng-controller="doctorReportWrapCtrl")
        .overlay(ng-controller="tfbCtrl" ng-if="!doctorReportShowing")
            include /tfb/tfb
        include /survey-schema/doctorReportWrap
