$red: #E33045;
$blue: #4A90E2;

$background: #eef3f9;
$background2: #d5e3f4;
$foreground: #192127;

$pageWidth: 1200px;

@mixin clearfix() {
  overflow: auto;
  width: 100%;
}

@mixin hcenter() {
  margin: 0 auto;
}

@mixin page($width) {
  width: $width;
  @include hcenter();
  background-color: white;
  border: 1px solid #D1D1D1;
}
