body {
   padding-top: 0px;
   padding-bottom: 60px;
}
.container {
	padding-top: 80px;
}
div.message {
    margin-top: 20px;
}
.stem {
    position: fixed;
    top: 80px;
    min-height: 30px;
    background-color: #fff;
    margin: 0 0 0 -28px;
    z-index: 5;
    padding: 0;
}
.stemQuestion {
    padding:10px 0 2px 10px;
    margin:0 0 0 -7px;
}
.title {
    margin-left: -1px;
    text-indent: -22px;
}
div.questions {
    margin-top: 75px;
}
.noIndent {
    margin-left: -20px;
}
.indent {
    margin-left: -30px;
}
form, label, .welcome {
    margin-left: -16px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.3;
}
:not(input) {
    -webkit-user-select: none;  /*disable cut/copy/paste to simplify user interface for novice tablet users*/
}

.welcome {
    padding-top: 5px;
}

.thankyou {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.btn-group {
	margin-left: -21px;
}
button.survey-button {
    margin-top: 8px;
	margin-right:3px;
    width: 160px;
    height: 40px;
    font-size: 18px !important;
}
button.survey-button-short {
    margin-top: 8px;
	margin-right:3px;
    width: 122px;
    height: 40px;
    font-size: 18px !important;
	padding-left: 5px;
}        
button.survey-button-middle {
    margin-top: 8px;
	margin-right: 3px;
    width: 160px;
    height: 40px;
    font-size: 18px !important;
}
button.btn-block{
    margin-top: 30px;
    height: 40px;
    font-size: 18px;
	width: 760px;
    background-color: #3366cc !important; 
} 
.survey-report {
    display: inline-block;
    color: #fff;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    outline: 0;
    outline-width: 0px;

    width: 130px;
    height: 30px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px !important;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    vertical-align: middle;
    text-align: center;
    cursor: default;
}
.red.survey-report {
    background-color: #bd362f;
}
.pink.survey-report {
    background-color: #dd6655;   
}
.yellow.survey-report {
    background-color: #f89406;
}
.green.survey-report {
    background-color: #51a351;
}
button.btn-submit {
    display: none;
}
div.asus-header {
	background-color: #3366CC;
	background-image: url(../img/header.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 60px;
    z-index: 5;
}
.substance {
    font-size: 18px;
}
.freq {
    font-size: 16px;
    margin-left: 30px;
    text-indent: -10px;
}
.p90 {
    font-size: 15px;
    font-weight: bold;  
    margin-left: 10px;
}
input.describe-detail {
    margin-top: 8px;
}    
.crafft {
    font-size: 16px;
    margin-left: 20px;
    text-indent: -10px;
}
.crafftScore .studyid {
    text-indent: -10px;
}
#page0, #page1, #page2, #page2a, #page2b, #page2c, #page2d, #page2e, #page3, .thankyou, #report, .report, #msg, #bottom, .Drive {
    display: none;
}
img.header {
  margin-top: 0;
}
img.BMC_logo {
    margin-top: 25px;
	margin-left: -20px;
}
img.Tufts_logo {
    margin-top: 22px;
    margin-left: -5px;
}
img.CHA_logo {
    margin-top: 12px;
    margin-left: -5px;
}
img.doctor {
    margin-top: 190px;
}  
.copyright {
    margin-top: 540px;
    margin-left: -10px;
    font-size: 9px;
    color: #ccc;
}
input.survey-text-input {
    height: 25px;
    font-size: 18px;
} 
select.survey-select {
    height: 40px;
    width: 400px;
    font-size: 18px;
}
.unanswered, .alert-error {
    color: FireBrick;
}
.age16 {
    vertical-align: top;
}
.invalid {
    background-color: #fba !important;
}
.valid {
    background-color: #bfa !important;
}
.alert {
    margin: 10px 0 0 -22px;
}
.actions-grey a  {
    background:url(../img/btn-grey-next.gif); 
    width:143px; 
    height:61px; 
    display:block; 

    border:0px solid red; 
    margin-top:0;
    margin-left: 280px;
}
.actions-grey a:hover {
    background:url(../img/btn-grey-next-hover.gif);
}
.sid, .enteraccess {
    font-size: .85em;
    margin-bottom: 10px;
}
p.sid {
    margin-left: 180px;
}
div.sid {
    margin-left: 245px;
}
button.sid {
    width: 105px;
}

#accesscode {
    font-size:1em; 
    padding:.1em;
}

