/* line 4, ../../../app/survey/numpad.scss */
.numpad {
  position: relative;
}
/* line 6, ../../../app/survey/numpad.scss */
.numpad input {
  position: relative;
  top: -16px;
  left: 6px;
}
/* line 11, ../../../app/survey/numpad.scss */
.numpad .pad, .numpad input {
  float: left;
}
/* line 14, ../../../app/survey/numpad.scss */
.numpad a {
  position: relative;
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  padding: 18px;
  border: 2px solid #4a90e2;
  color: #4a90e2;
  text-align: center;
  float: left;
  margin: 6px;
  text-decoration: none !important;
}
/* line 27, ../../../app/survey/numpad.scss */
.numpad a:hover {
  text-decoration: none;
  background-color: #c5dbf6;
}
/* line 31, ../../../app/survey/numpad.scss */
.numpad a:active {
  background-color: #abcbf1;
}
/* line 35, ../../../app/survey/numpad.scss */
.numpad .del {
  border-color: #e33045;
  color: #e33045;
}
/* line 38, ../../../app/survey/numpad.scss */
.numpad .del:hover {
  text-decoration: none;
  background-color: #f4aeb6;
}
/* line 42, ../../../app/survey/numpad.scss */
.numpad .del:active {
  background-color: #f0939e;
}
/* line 46, ../../../app/survey/numpad.scss */
.numpad .delIcon {
  position: relative;
  top: -4px;
  left: -7px;
}
/* line 51, ../../../app/survey/numpad.scss */
.numpad .blank {
  visibility: hidden;
}
/* line 54, ../../../app/survey/numpad.scss */
.numpad .num {
  position: relative;
  top: -5px;
  left: -1px;
}
/* line 59, ../../../app/survey/numpad.scss */
.numpad .line {
  overflow: hidden;
  *zoom: 1;
}
